    <div class="container mt-5">
        <h2>Carrito</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Nombre del Producto 1</td>
                    <td>$100.00</td>
                    <td>2</td>
                    <td>$200.00</td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-end">
            <h4>Total: $200.00</h4>
        </div>
        <div class="d-flex justify-content-end mt-2">
            <button class="btn btn-success me-2">Continuar Compra</button>
            <button class="btn btn-danger">Vaciar Carrito</button>
        </div>
    </div>
