<app-bar></app-bar>
<div class="d-flex justify-content-center my-3">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="my-3 text-center mb-4">
            <img src="../../../assets/images/logo_white.png" alt="Imagen" class="img-fluid">
        </div>
      <div class="card-body text-center">
        <h2 class="card-title">Actualizar Producto</h2>
        <br>
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
          <div class="form-floating mb-3">
            <select class="form-select" id="product" aria-label="select product" formControlName="product_id" standalone>
              <option selected disabled>Elige el producto</option>
              <option *ngFor="let product of products" [value]="product._id">{{ product.name }}</option>
            </select>
            <label for="product">Producto</label>
          </div>
          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="floatingInput" placeholder="quantity" formControlName="quantity">
            <label for="floatingInput">Cantidad</label>
          </div>
          <button type="submit" class="btn btn-outline-info">Actualizar producto</button>
        </form>
      </div>
    </div>
  </div>