<div class="d-flex justify-content-center my-3">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="my-3 text-center mb-4">
            <img src="../../../assets/images/logo_white.png" alt="Imagen" class="img-fluid">
        </div>
      <div class="card-body text-center">
        <h2 class="card-title">Actualizar Producto</h2>
        <br>
        <form [formGroup]="productoForm" (ngSubmit)="onSubmit()">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="nombre" placeholder="producto" formControlName="nombre">
            <label for="nombre">Nombre</label>
          </div>
          <div class="form-group my-3">
            <label for="precio">Precio</label>
            <div class="input-group my-3">
                <span class="input-group-text">$</span>
                <input type="text" id="precio" class="form-control" aria-label="Amount (to the nearest dollar)" formControlName="precio" required>
                <span class="input-group-text">.00</span>
            </div>
          </div>
  
          <div class="form-floating my-3">
            <textarea class="form-control" placeholder="Leave a comment here" id="descripcion" formControlName="descripcion"></textarea>
            <label for="descripcion">Descripción</label>
          </div>

          <div class="my-3">
            <label for="foto" class="form-label">Foto</label>
            <input class="form-control" type="file" id="foto" formControlName="foto" required>
          </div>
  
          <button type="submit" class="btn btn-info" [disabled]="!productoForm.valid">Actualizar producto</button>
        </form>
      </div>
    </div>
  </div>
  