<!-- register.component.html -->
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow">
      <div class="text-center mb-2">
        <img src="../../../assets/images/logo_white.png" alt="Imagen" class="img-fluid">
      </div>
      <div class="text-center mb-2">
        <h2 class="display-5">Registrarse</h2>
      </div>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="name" formControlName="name" placeholder="John">
          <label for="name">Nombre</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="lastname" formControlName="lastname" placeholder="Doe">
          <label for="lastname">Apellido</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="email" formControlName="email" placeholder="name@example.com">
          <label for="email">Correo electrónico</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="tel" formControlName="tel" placeholder="123-123-1234">
          <label for="tel">Télefono</label>
        </div>
        <div class="form-floating mb-3">
          <select class="form-select" id="rol" aria-label="select rol" formControlName="rol">
            <option selected disabled>Elige tu rol</option>
            <option value="cajero">Cajero</option>
            <option value="admin">Aministrador</option>
            <option value="soporte">Soporte</option>
          </select>
          <label for="rol">Rol</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="password" formControlName="password" placeholder="password">
          <label for="password">Contraseña</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" placeholder="password">
          <label for="confirmPassword">Confirmar contraseña</label>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-info" [disabled]="!registerForm.valid">Registrarse</button>
        </div>
      </form>
    </div>
  </div>
  