<app-bar></app-bar>
<div class="container shadow">
  <div class="row mb-4">
    <div class="col-md-12 mb-4">
      <form class="d-flex mt-5" role="search" (submit)="searchProduct($event)">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" [(ngModel)]="searchTerm" name="searchTerm">
        <button class="btn btn-outline-info" type="submit">Buscar</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4" *ngFor="let product of filteredProducts">
      <div class="card mb-4 text-center">
        <div class="d-flex justify-content-center align-items-start">
          <img class="card-img-top" [src]="product.photo" alt="{{product.name}}">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.description}}</p>
          <p class="card-text"><strong>Precio: ${{product.price}}</strong></p>
          <a class="btn btn-outline-info" (click)="addToCart(product)">Comprar</a>
        </div>
      </div>
    </div>
  </div>
</div>
